@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --background-color: hsl(0, 100%, 74%);
  --button-color: hsl(154, 59%, 51%);

  --trial-color: hsl(248, 32%, 49%);
  
  --font-color: hsl(249, 10%, 26%);
  --agree-color: hsl(246, 25%, 77%);

}

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  font-family: 'Poppins', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  text-rendering: optimizelegibility;

}

body {
  background-color: var(--background-color);

  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  padding: 80px 30px 30px;

}


body::before {
  content: '';

  background-image: url('../assets/bg-intro-mobile.png');

  width: 100%;
  height: 100vh;

  position: absolute;
  top: 0;

  z-index: -1;

}

body * {
  max-width: 450px;

}

header {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: white;
  text-align: center;

  margin-bottom: 40px;

}

header .title-text {
  max-width: 280px;
  font-size: 1.4rem;
  font-weight: 700;

  margin-bottom: 20px;

}

header .text {
  font-size: 0.9rem;
  line-height: 1.5rem;

}

main {
  max-width: 600px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

}

.trial-text {
  background-color: var(--trial-color);

  width: 100%;
  height: auto;
  min-height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-size: 0.9rem;
  letter-spacing: 0.02rem;

  text-align: center;
  
  margin-bottom: 30px;
  padding: 10px 40px;

  border-radius: 12px;
  
  box-shadow: 0 8px 2px  rgba(0, 0, 0, 0.2);

}

.trial-form {
  background-color: white;

  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 25px 20px 30px;

  border-radius: 12px;

  box-shadow: 0 8px 2px  rgba(0, 0, 0, 0.2);

}

.inputContainer {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  position: relative;

  margin-bottom: 20px;

}

.inputContainer input {
  width: 100%;
  height: 60px;

  position: relative;

  color: var(--font-color);
  font-size: 0.9rem;
  font-weight: 600;

  padding: 0px 15px;

  border-radius: 8px;
  border: 1px solid var(--agree-color);
  outline: none;

}

.inputContainer.error input {
  color: var(--background-color);
  border: 1px solid var(--background-color);
  padding: 0px 50px 0px 15px;

}

.inputContainer input:focus {
  border: 1px solid black;

}

.inputContainer .errorName {
  display: none;

}

.inputContainer.error .errorName {
  width: 100%;
  
  display: block;

  color: var(--background-color);
  font-size: 0.8rem;
  font-weight: 500;
  text-align: end;

  margin-top: 5px;
  padding: 0px 10px;

}

.inputContainer.error input::placeholder {
  color: var(--background-color);

}

.inputContainer.error::before {
  content: '';

  background-image: url('../assets/icon-error.svg');
  background-repeat: no-repeat;
  background-position: center;
  
  width: 50px;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  right: 0px;


  z-index: 2;
  
}

.inputContainer.error input:focus {
  border: 2px solid var(--background-color);

}

.trial-form button {
  background-color: var(--button-color);
  
  width: 100%;
  min-height: 50px;
  height: auto;

  color: white;
  font-size: 0.80rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  
  margin-bottom: 15px;
  padding: 0px 20px;

  border: none;
  border-radius: 8px;
  outline: none;

  cursor: pointer;

}

.trial-form p {
  width: 90%;
  color: var(--agree-color);
  font-size: 0.7rem;

  text-align: center;

}

.trial-form p strong {
  color: var(--background-color);

  display: block;

  cursor: pointer;

}
